[submodule "deps/mitosis"]
	path = deps/mitosis
	url = https://github.com/ProjectMitosisOS/mitosis-core.git
	branch = dmerge
[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "deps/dynlib-wrappers"]
	path = deps/dynlib-wrappers
	url = https://github.com/ProjectMitosisOS/dmerge-dynlib-wrappers.git
